[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iamkelroy
[access "refs/for/refs/*"]
	read = group user/iamkelroy
	push = group user/iamkelroy
	label-Code-Review = -2..+2 group user/iamkelroy
	label-Verified = -1..+1 group user/iamkelroy
	rebase = group user/iamkelroy
	removeReviewer = group user/iamkelroy
	submit = group user/iamkelroy
[access "refs/heads/*"]
	read = group user/iamkelroy
	create = group user/iamkelroy
	push = +force group user/iamkelroy
	pushMerge = group user/iamkelroy
[access "refs/tags/*"]
	push = +force group user/iamkelroy
	pushTag = group user/iamkelroy
	pushSignedTag = group user/iamkelroy
